<p>
<div class="slides">
{% for item in include.collection %}
    <div id="{{ item.title | uri_escape }}" class="slide" tabindex="{% increment ti %}">
        <a onclick="javascript: advanceItem();">
            <img loading="lazy" src="{{ item.url | relative_url }}" alt="{{ item.title }}" />
        </a>
        <p class="image-title">
          {{ item.title | markdownify | remove: '<p>' | remove: '</p>' }}<br/>{{ item.medium }}<br/>{{ item.year }}
        </p>
    </div>
{% endfor %}
</div>
</p>
